<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tronquitos Bar</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <body class="bg-gray-100">
        <header>
          <nav
            class="flex flex-wrap items-center justify-between w-full py-4 md:py-0 px-4 text-lg text-gray-700 bg-white"
          >
            <div>
              <a href="#"> Tronquitos Bar 🍻 </a>
            </div>
    
            <svg
              xmlns="http://www.w3.org/2000/svg"
              id="menu-button"
              class="h-6 w-6 cursor-pointer md:hidden block"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
    
            <div class="hidden w-full md:flex md:items-center md:w-auto" id="menu">
              <ul
                class="pt-4 text-base text-gray-700 md:flex md:justify-between md:pt-0"
              >
                <li>
                  <a class="md:p-4 py-2 block hover:text-purple-400" href="index.html"
                    >Inicio</a
                  >
                </li>
                <li>
                  <a class="md:p-4 py-2 block hover:text-purple-400" href="incio/acerca"
                    >Acerca de</a
                  >
                </li>
                <li>
                  <a class="md:p-4 py-2 block hover:text-purple-400" href="incio/servicios"
                    >Servicios</a
                  >
                </li>
                <li>
                  <a class="md:p-4 py-2 block hover:text-purple-400" href="incio/productos"
                    >Productos</a
                  >
                </li>
                <li>
                  <a class="md:p-4 py-2 block hover:text-purple-400" href="incio/contacto"
                    >Contacto</a
                  >
                </li>
              </ul>
            </div>
          </nav>
        </header>
    
        <div class="px-4" id="main-content">
          <div class="max-w-2xl mx-auto mt-8">
            <div class="bg-white p-8 rounded-lg shadow-md">
              <h2 class="text-2xl font-semibold text-gray-800 mb-4">
                Bienvenido a Tronquitos Bar 🍻
              </h2>
              <p class="text-gray-600 mb-4">
                En Tronquitos Bar, estamos apasionados por ofrecerte la mejor experiencia
                en la compra de bebidas en línea. Nuestra tienda cuenta con una
                amplia selección de bebidas, desde refrescantes cervezas artesanales
                hasta exquisitos vinos y licores premium. ¡Explora nuestro catálogo
                y descubre tu nueva bebida favorita!
              </p>
              <p class="text-gray-600 mb-4">
                En Tronquitos Bar, nos esforzamos por brindarte la comodidad de comprar
                tus bebidas favoritas desde la comodidad de tu hogar. Navega por
                nuestras categorías, encuentra ofertas exclusivas y disfruta de un
                servicio de entrega rápido y confiable.
              </p>
              <p class="text-gray-600 mb-4">
                Ya sea que estés buscando algo para relajarte después de un día
                ajetreado o preparándote para celebrar una ocasión especial,
                Tronquitos Bar tiene la bebida perfecta para cada momento.
              </p>
              <p class="text-gray-600">
                ¡Descubre la experiencia  y eleva tus momentos con nuestras
                exquisitas selecciones de bebidas!
              </p>
            </div>
          </div>
        </div>
    
        <div class="max-w-2xl mx-auto mt-8">
          <p class="text-gray-600 text-lg font-bold">Servicios</p>
          <div class="border-t border-gray-700 my-4"></div>
        </div>
    
        <div class="max-w-2xl mx-auto mt-8">
          <div class="bg-white p-8 rounded-lg shadow-md">
            <div class="relative overflow-hidden">
              <div class="flex">
                <div class="w-1/3">
                  <img
                    src="https://statics-cuidateplus.marca.com/cms/styles/natural/azblob/alergia-alcohol-cerveza.jpg.webp?itok=nHhFFosM"
                    alt="Promoción 1"
                    class="w-full h-full object-cover object-center rounded-lg"
                  />
                </div>
                <div class="w-1/3">
                  <img
                    src="https://oxxo-com.s3.amazonaws.com/posts/web/1c549ad1df8bb7b1a69596ae4a747e9c.jpg"
                    alt="Promoción 2"
                    class="w-full h-full object-cover object-center rounded-lg"
                  />
                </div>
                <div class="w-1/3">
                  <img
                    src="https://images.unsplash.com/photo-1617671346549-2863444c811c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE3fHx8ZW58MHx8fHx8&w=1000&q=80"
                    alt="Promoción 3"
                    class="w-full h-full object-cover object-center rounded-lg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <div class="max-w-2xl mx-auto mt-8">
          <p class="text-gray-600 text-lg font-bold">Productos</p>
          <div class="border-t border-gray-700 my-4"></div>
        </div>
    
        <div class="max-w-2xl mx-auto mt-8 grid grid-cols-1 md:grid-cols-3 gap-8">
          <div class="bg-white p-4 rounded-lg shadow-md">
            <img
              src="https://static.euronews.com/articles/350642/1200x675_350642.jpg"
              alt="Corona"
              class="w-full h-40 object-cover rounded-md mb-4"
            />
            <h3 class="text-lg font-semibold mb-2">Corona</h3>
            <p class="text-gray-500 mb-2">
              Cerveza refrescante con un toque cítrico.
            </p>
            <p class="text-purple-500 font-semibold mb-2">$15.99</p>
            <span class="bg-green-500 text-white px-2 py-1 rounded-full"
              >Oferta</span
            >
          </div>
    
          <div class="bg-white p-4 rounded-lg shadow-md">
            <img
              src="https://www.heinekenespana.es/wp-content/uploads/2019/03/2602hnk.jpg"
              alt="Heineken"
              class="w-full h-40 object-cover rounded-md mb-4"
            />
            <h3 class="text-lg font-semibold mb-2">Heineken</h3>
            <p class="text-gray-500 mb-2">
              Cerveza premium con un sabor distintivo.
            </p>
            <p class="text-purple-500 font-semibold mb-2">$19.99</p>
            <span class="bg-red-500 text-white px-2 py-1 rounded-full"
              >Agotado</span
            >
          </div>
    
          <div class="bg-white p-4 rounded-lg shadow-md">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Budweiser_beer.jpg/765px-Budweiser_beer.jpg"
              alt="Budweiser"
              class="w-full h-40 object-cover rounded-md mb-4"
            />
            <h3 class="text-lg font-semibold mb-2">Budweiser</h3>
            <p class="text-gray-500 mb-2">
              Cerveza clásica con un sabor equilibrado.
            </p>
            <p class="text-purple-500 font-semibold mb-2">$24.99</p>
          </div>
        </div>
    
        <div class="max-w-2xl mx-auto mt-8">
          <p class="text-gray-600 text-lg font-bold">Reseñas</p>
          <div class="border-t border-gray-700 my-4"></div>
        </div>
    
        <div class="max-w-2xl mx-auto mt-8">
          <div class="bg-white p-4 rounded-lg shadow-md mb-4">
            <img
              src="https://globalexperiencesedu.com/wp-content/uploads/2021/02/team-1.jpg"
              alt="Cliente 1"
              class="w-12 h-12 object-cover rounded-full mb-2"
            />
            <h3 class="text-lg font-semibold mb-2">Robert Willians</h3>
            <div class="flex items-center mb-2">
              ⭐⭐⭐⭐⭐
              <span class="text-gray-500 ml-2">Hace 1 meses</span>
            </div>
            <p class="text-gray-700 mb-4">
              ¡Excelente servicio! La atención al cliente fue muy amigable y rápida.
              Me encantó la variedad de productos y la calidad.
            </p>
            <p class="text-green-500 font-semibold">Lo que me encantó:</p>
            <p class="text-gray-700">- Gran selección de productos.</p>
            <p class="text-red-500 font-semibold">Mejoras sugeridas:</p>
            <p class="text-gray-700">- Podrían mejorar los tiempos de entrega.</p>
          </div>
    
          <div class="bg-white p-4 rounded-lg shadow-md mb-4">
            <img
              src="https://i.pinimg.com/1200x/38/91/28/389128bb52a0ef5fad0db948c686d602.jpg"
              alt="Cliente 2"
              class="w-12 h-12 object-cover rounded-full mb-2"
            />
            <h3 class="text-lg font-semibold mb-2">Sandra Warrens</h3>
            <div class="flex items-center mb-2">
              ⭐⭐⭐⭐
              <span class="text-gray-500 ml-2">Hace 4 meses</span>
            </div>
            <p class="text-gray-700 mb-4">
              El servicio fue bueno en general. La calidad de los productos es
              excelente, pero la entrega podría ser más rápida.
            </p>
            <p class="text-green-500 font-semibold">Lo que me encantó:</p>
            <p class="text-gray-700">- Productos de alta calidad.</p>
            <p class="text-red-500 font-semibold">Mejoras sugeridas:</p>
            <p class="text-gray-700">- Mejorar los tiempos de envío.</p>
          </div>
    
          <div class="bg-white p-4 rounded-lg shadow-md mb-4">
            <img
              src="https://tmssl.akamaized.net/images/foto/galerie/cristiano-ronaldo-al-nassr-2023-1692731063-114594.jpg?lm=1692731118"
              alt="Cliente 3"
              class="w-12 h-12 object-cover rounded-full mb-2"
            />
            <h3 class="text-lg font-semibold mb-2">Cristiano Ronaldo</h3>
            <div class="flex items-center mb-2">
              ⭐⭐⭐⭐⭐
              <span class="text-gray-500 ml-2">Hace 4 horas</span>
            </div>
            <p class="text-gray-700 mb-4">
              Increíble servicio al cliente. Respondieron rápidamente a mis
              preguntas y resolvieron cualquier problema. Definitivamente
              recomendaría.
            </p>
            <p class="text-green-500 font-semibold">Lo que me encantó:</p>
            <p class="text-gray-700">- Atención al cliente excepcional.</p>
            <p class="text-red-500 font-semibold">Mejoras sugeridas:</p>
            <p class="text-gray-700">- No hay áreas de mejora notables.</p>
          </div>
        </div>
      </body>
    
      <footer class="bg-gray-800 text-white py-8">
        <div
          class="container mx-auto flex flex-col lg:flex-row justify-between items-center"
        >
          <div class="mb-4 lg:mb-0">
            <h3 class="text-xl font-semibold">Tronquitos Bar 🍻</h3>
            <p class="text-gray-400">
              La mejor tienda en línea para tus bebidas favoritas.
            </p>
          </div>
    
          <div class="flex space-x-4">
            <a href="index.html" class="text-gray-400 hover:text-white">Inicio</a>
            <a href="pages/acerca.html" class="text-gray-400 hover:text-white">Acerca de</a>
            <a href="pages/servicios.html" class="text-gray-400 hover:text-white">Servicios</a>
            <a href="pages/contacto.html" class="text-gray-400 hover:text-white">Contacto</a>
          </div>
        </div>
      </footer>
</body>
</html>
