<!-- views/acerca.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Acerca de Tronquitos Bar</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <%- include('partials/header') %>

    <div class="max-w-2xl mx-auto mt-8">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">
        Servicios de Tronquitos Bar 🍻
      </h2>
      <p>
        Tronquitos Bar es una tienda en línea dedicada a ofrecer las mejores bebidas...
      </p>
    </div>

    <%- include('partials/footer') %>
</body>
</html>
